@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full min-h-screen scroll-smooth font-normal leading-normal antialiased;
}

body {
  @apply bg-slate-1 text-slate-12 selection:bg-sky-4;

  /* PWA enhancements */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
