@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full min-h-screen scroll-smooth font-medium leading-normal subpixel-antialiased;

  /* PWA enhancements */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  @apply bg-slate-2 text-slate-12 selection:bg-sky-4;
}
